form {
    width: 70rem;
    margin: 6.4rem auto; /*esse auto só ativa (centralizando esse item) se o main tiver a propriedade flex:1 como coloquei mais acima*/
    background: white;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;
    overflow: hidden;
    padding: 8rem;
}

fieldset {
    border: 0;   
}

fieldset legend {
    width: 100%;

    font-size: 3.2rem;
    line-height: 1.5;

    color: #5c8599;
    font-weight: 700;

    border-bottom: 1px solid #d3e2e5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;
}

fieldset + fieldset {   /*seleciona todos os irmãos do primeiro fieldset, ou seja, nesse caso somente o segundo, o "visitação"*/
    margin-top: 8rem;
}

.input-block + .input-block {   /*seleciona todos os irmãos do primeiro input-block, ou seja, todos os input-blocks (exceto o primeiro) que estiverem dentro do mesmo pai*/
    margin-top: 2.4rem;
}

.input-block label {
    color: #8fa7b3;
    margin-bottom: .8rem;
    line-height: 1.5;
}

.input-block label span {
    font-size: 1.2rem;
    color: #8fa7b3;
    line-height: 1.5;
    margin-left: 2.4rem;
}

.input-block input,
.input-block textarea {
    width: 100%;
    background: #f5f8fa;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;
    color: #5c8599;

}

.input-block input {
    height: 6.4rem;
    padding: 0 1.6rem;
}

.input-block input:valid,
.input-block textarea:valid {
    border: 1px solid #a1e9c5;
}


.input-block textarea {
    height: clamp(12rem, 16rem, 24rem);
    padding: 1.6rem;
    line-height: 2.8rem;

    resize: vertical;
}

.input-block.images button{
    border: 1px dashed #96d2f0;
    width: 100%;
    background: #f5f8fa;
    height: 6.4rem;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
    border-radius: 2rem;
    cursor: pointer;
}

.new-upload {
    position: relative;
}

.new-upload span {
    position: absolute;
    right: 10px;
    bottom: 14px;
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: .6rem;
    display: flex;
    cursor: pointer;
}

.new-upload + .new-upload {
    margin-top: 2.4rem;
}